:root{
  --text-4xl--line-height: calc(2.5 / 2);
  --checkbox-size: 18px;
  --default-font-family: 'Inter', sans-serif;
  --color-highlight-text: #184afb;
  --color-highlight-bg: #e6efff;
  --color-result-border: #e5e5e5;
  --color-result-bg: #fafafa;
  --color-info-icon: #838383;
}